In [2]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv("/Users/maite/Desktop/ADALAB/modulo-4/ejercicios/promoG-modulo4-sprint2-pairprogramming-Maite-Mirna-Alejandra-/files1/df_aprueba.csv", index_col = 0)
df.head()

                   ¿Aprueba?   Año Dirección Guionista(s)
Título
Fantasía                  No  1940  Director       Hombre
Pinocho                   No  1940  Director       Hombre
Dumbo                     No  1941  Director       Hombre
El dragón chiflado        Sí  1941  Director       Hombre
Bambi                     No  1942  Director       Hombre

In [8]:
decadas_dict = {
    '1870s': range(1870, 1880),
    '1880s': range(1880, 1890),
    '1890s': range(1890, 1900),
    '1900s': range(1900, 1910),
    '1910s': range(1910, 1920),
    '1920s': range(1920, 1930),
    '1930s': range(1930, 1940),
    '1940s': range(1940, 1950),
    '1950s': range(1950, 1960),
    '1960s': range(1960, 1970),
    '1970s': range(1970, 1980),
    '1980s': range(1980, 1990),
    '1990s': range(1990, 2000),
    '2000s': range(2000, 2010),
    '2010s': range(2010, 2020),
    '2020s': range(2020, 2030),  # Include 2019 in this decade
}

# asignar decadas
def get_decade(year):
    for decade, year_range in decadas_dict.items():
        if year in year_range:
            return decade

df['década'] = df['Año'].apply(get_decade)

In [9]:
df.head()

                   ¿Aprueba?   Año Dirección Guionista(s) década
Título
Fantasía                  No  1940  Director       Hombre  1940s
Pinocho                   No  1940  Director       Hombre  1940s
Dumbo                     No  1941  Director       Hombre  1940s
El dragón chiflado        Sí  1941  Director       Hombre  1940s
Bambi                     No  1942  Director       Hombre  1940s

In [10]:
df.to_csv('df_aprueba.csv')